// Mixins in here
.buttons(@font-color, @align-text, @border-radius) {
    font-size: 1.8rem;
    background-color: darken(@eastern-blue, 3%);
    border: 1px solid @silver;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    color: @font-color;
    text-align: @align-text;
    width: 75%;

    @media @break680 {
        width: 100%;
    }
}

.btn {
    .buttons(@white, center, 10px);

    &:hover {
        background-color: @eastern-blue;
        box-shadow: 0px 0px 5px @eastern-blue;
        border: 1px solid @eastern-blue;
    }
}